* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}
body {
  background: url(../images/unsplash.png) 650px fixed, url(../images/Layer2.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}
.ba-form {
  width: 100%;
  max-width: 336px;
  height: auto;
  margin: 100px auto;
  background-color: #fff;
}
.ba-wrapper {
  width: 100%;
  padding: 0 20px;
  border: none;
}
.ba-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #f8edaf;
}
.ba-logo-title__name {
  font-size: 0.875rem;
  color: #6e7f7b;
}
.ba-logo-title__text {
  font-size: 0.625rem;
  color: #a6a28d;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}
.ba-header__price {
  font-size: 2.25rem;
  font-weight: 600;
  color: #6e7f7b;
}
.ba-credit {
  margin-top: 45px;
  margin-bottom: 28px;
}
.ba-credit__label {
  font-size: 0.8125rem;
  color: #9eabad;
}
.ba-credit__inp {
  width: 100%;
  border: 2px solid #c5c9ca;
  font-size: 0.8125rem;
  padding: 14px 7px;
  margin-top: 9px;
  font-weight: 700;
  color: #727f82;
  text-align: center;
}

.ba-credit__inp:focus:valid {
  border-color: rgb(35, 175, 218);
}
.ba-credit__inp:focus:invalid {
  border-color: rgb(241, 32, 4);
}
.ba-date {
  margin-bottom: 26px;
}
.ba-date__label {
  font-size: 0.8125rem;
  color: #9eabad;
}
.ba-date__month {
  width: 100%;
  max-width: 172px;
  font-size: 0.8125rem;
  color: #727f82;
  background-color: transparent;
  border: 2px solid #c5c9ca;
  font-weight: 700;
  padding: 15px 9px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
}
.ba-date__month:focus {
  border-color: rgb(35, 175, 218);
}
.ba-date__year {
  width: 100%;
  max-width: 92px;
  font-size: 0.8125rem;
  color: #727f82;
  background-color: transparent;
  border: 2px solid #c5c9ca;
  font-weight: 700;
  padding: 15px 9px;
  cursor: pointer;
}
.ba-date__year:focus {
  border-color: rgb(35, 175, 218);
}
.ba-cvv {
  padding-bottom: 30px;
  border-bottom: 1px solid #9eabad;
}
.ba-cvv__label {
  display: block;
  width: 15%;
  text-transform: uppercase;
  font-size: 0.825rem;
  font-weight: 700;
  color: #9eabad;
}
.ba-cvv__input {
  display: inline-block;
  width: 100%;
  max-width: 92px;
  font-size: 0.8125rem;
  color: #727f82;
  background-color: transparent;
  border: 2px solid #c5c9ca;
  font-weight: 700;
  padding: 15px 9px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
}
.ba-cvv__input:focus:valid {
  border-color: rgb(35, 175, 218);
}
.ba-cvv__input:focus:invalid {
  border-color: rgb(241, 32, 4);
}
.ba-cvv__text {
  font-size: 0.75rem;
  color: #9eabad;
}
.ba-cvv__link {
  font-size: 0.75rem;
  color: #9eabad;
  text-decoration: none;
  border-bottom: 1px solid #9eabad;
}
.ba-feedback {
  padding: 30px 0 20px 0;
}
.ba-feedback__input {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  background-color:rgb(13, 165, 13);
  margin-bottom: 22px;
  cursor: pointer;
  transition: .3s;
  border: 2px solid transparent;
}
.ba-feedback__input:hover {
  background-color: transparent;
  color: rgb(13, 165, 13);
  border: 2px solid rgb(13, 165, 13);;
}
.ba-feedback__btn {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: #9eabad;
  border-bottom: 1px solid #9eabad;
  cursor: pointer;
}